/* 
	Joshua's Portfolio Main Syles Sheet
	Author: Joshua Abbott
	Honor Code: I pledge that this code represents my own work: 06/15/2018
	
	Filename: MyStyles
	Supporting Files: None
*/


/* Styles for the Top Nav bar */
	#navbar-top-space {
		background-color: 	#404040;
		padding: 10px; /* 2px 5px 0px 5px; */
	}

	#navbar-top li {
		display: inline;
		font-size: 130%;
		padding: 25px;

	}
	#active-page {
		background-color: black;
	}
	#navbar-top a {
		color: white;
		text-decoration: none;
	}
	#navbar-top a:hover {
		color: #99ffcc;
		text-decoration: none;
	}
	
	
/* Styles for the Page Nav bar (side) */
	aside {
		background-color: #606060;
		color: black;
		font-size: 110%;

		border-radius: 0px 10px 10px 10px;
	}
	aside li {
		display: block;
		padding: 10px;
	}
	aside a{
		color: white;
		text-decoration: none;
	}
	aside a:hover {
		color: #99ffcc;
		text-decoration: none;
	}
	aside a:active {
		color: #00e673;
		text-decoration: none;
	}
	
	
/* Styles for the Page Body */
	h1, h2, p, a, li {
		font-family: "Times New Roman", Times, serif;
	}
	h1 {
		font-family: "Times New Roman", Times, serif;
		text-align: center;
		padding-top: 10px;
		
	}
	p {
		font-family: sans;
		font-size: 120%;
	}
	#About_Me_Section {color: black; }
	#Goals_Section {color: black;}
	#Contact_Me_Section {color: black;}
	#About_Me_Section:hover {color: black; text-decoration: none;}
	#Goals_Section:hover {color: black; text-decoration: none;}
	#Contact_Me_Section:hover {color: black; text-decoration: none;}
	
	#Additional_Skills h2 {
		text-align: center;
	}
	#Assignments li {
		list-style-type: circle;
	}
	
	
/* Styles for the Images */
	#MyProfilePic1 {
			max-width: 75%;
		}
	#Job_Images img {
		display: block;
		padding: 15px;
		width: 90%;
		
	}
	
	#WSU_Rock {
		width: 45%;
		display: inline;
		padding: 10px 10px 10px 40px;
	}
	#NUAMES_Building {
		width: 50%;
		display: inline;
		padding: 10px;
	}
	#Academic_Pics img {
		width: 80%;
	}
	#Telescope_sm {
		width: 90%;
		border-bottom: 2px solid #404040;
	}
	#MyElectricGuitar {
		width: 90%;
	}
	#MySymbol {
		position: fixed;
		padding-right: 10px;
	}
	
/* Styles for the Tables */

	/* Music Table */
		#Music_Table {
			width: 75%;
			padding: 50px;
			text-align: left;
		}
		#Music_Table th {
			border: 3px solid black;
			background-color:#404040;
			color: white;
			text-align: center;
			padding: 10px;
		}
		#Music_Table td {
			border: 3px solid black;
			padding: 5px;
		}
		#Music_Table caption {
			text-align: center;
		}
		
	
	/* Skills Tables */
		.Skills_Tables th, td {
			font-family: "Times New Roman", Times, serif;
			border: none;
			width: 15%
		}
		
		
/* Styles for the Contact Me form */
	.container {
		border-radius: 5px;
		background-color: #606060;
		padding: 20px;
	}
	input[type=text], select, textarea {
		color: black;
		width: 100%; 
		padding: 12px;  
		border: 2px solid black;
		border-radius: 4px;
		box-sizing: border-box;
		margin-top: 6px;
		margin-bottom: 16px;
		resize: vertical
	}
	input[type=submit] {
		background-color: #00cc99;
		border: 1px solid black;
		color: white;
		padding: 12px 20px;
		border-radius: 4px;
	}
	input[type=submit]:hover {
		background-color: #00ffbf;
		color: black;
	}
	input[type=reset] {
		background-color: #ff6666;
		border: 1px solid black;
		color: white;
		padding: 12px 20px;
		border-radius: 4px;
	}
	input[type=reset]:hover {
		background-color: #ff9999;
		color: black;
	}
	#Contact_Me_Form label {
		color: white;
	}

	
/* Styles for the Footer */		
	footer {
		border: 2px solid black;
		background-color: #606060;
	}
	footer a {
		display: inline;
		padding: 50px;
	}
	footer p {
		color: white;
		display: inline;
		padding-left: 15px;
	}