/*
	Josh's Portfolio Styles Sheet
	Author: Joshua Abbott
	Date: 05/29/2019

	Filename: styles.css
	Supporting Files: 
*/

/* Navbar */
    .navbar{
        opacity: 0.95;
    }
    .nav-ul{
        /* margin-right: auto; */
        margin-left: auto;
    }
    .nav-ul li {
        display: inline;
        text-align: center;
        padding: 4px 10px;
        text-decoration: none;
    }

/* Three primary cards */
    .card-primary:hover{
        background-color: lightsteelblue;
        border: 3px solid lightsteelblue;
    }
    .viewer:hover{
        cursor: pointer;
    }
    .card-row {
        justify-content: space-around;
        padding: 115px calc(5%) 115px calc(5%);
        background-image: url(images/white_design.png);        
        /* Free-use image from http://www.sclance.com/pngs/white-design-png/view-page-2.htm */
    }
    .card-sides {
        padding-top: 35px;
        padding-bottom: 15px;
    }
    .card-middle {
        padding: 80px 10px 15px 10px;
        
    }
    .card-images {
        max-height: 100%;
        max-width: 100%;
    }
    .card {
        border: none;
        border-radius: 0px;        
    }

/* Images and Icons */
    .social-icons img {        
        max-height: 40px;
        max-width: 40px;
        margin-left:20px;
    }
    #MySymbol{
        max-width: 50px;
    }
    #cardWeberSeal{
        max-width: 50%;
        padding-top: 8px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

/* About Me */
    .container-fluid{
        padding-top: 25px;
    }    

/* Work Experience */
    .time-worked{
        display: block;
        float: right;
    }
    .work-card{
        margin-bottom: 15px !important;
        min-height: 100%;
    } 

/* Misc */
    .name {
        color: whitesmoke;
    }
    .page-sizer{
        height: 100vh;
    } 
    h3 {
        font-size: 1.5em; 
    }
    .list-header {
        font-size: 0.95em;
    }
    ol li{
        list-style-type: none;
        margin-left: -30px;
    }
    a.anchor {
        display: block;
        position: relative;
        top: -50px;
        visibility: hidden;
    }
        
/* Adjustments for mobile */
@media (max-width: 768px){

    .card-row {
        padding: 80px calc(5%) 80px calc(5%);
    }
    .card-sides{
        padding-top: 15px;
    }
}
/* Paging hiccup correction */
@media (max-width: 992px){
    .page-sizer{
        height: auto;
    }
}